<h1>Editing dynamic template</h1>

<%= render "form", dynamic_template: @dynamic_template %>

<br>

<div>
  <%= link_to "Show this dynamic template", @dynamic_template %> |
  <%= link_to "Back to dynamic templates", dynamic_templates_path %>
</div>
